<section class="w-full bg-white py-12">
  <div class="max-w-6xl mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      <div class="flex flex-col items-center text-center">
        <div class="w-20 h-20 flex items-center justify-center rounded-full bg-[#EAEAEA] mb-4">
          <img src="/assets/valor1.svg" alt="Valor 1" class="w-10 h-10" />
        </div>
        <h4 class="text-[#06214E] font-bold mb-2">Valor 1</h4>
        <p class="text-gray-600 text-sm">Lorem ipsum dolor sit amet consectetur. Lacus pulvinar pharetra senectus sociis.</p>
      </div>
      <div class="flex flex-col items-center text-center">
        <div class="w-20 h-20 flex items-center justify-center rounded-full bg-[#EAEAEA] mb-4">
          <img src="/assets/valor2.svg" alt="Valor 2" class="w-10 h-10" />
        </div>
        <h4 class="text-[#06214E] font-bold mb-2">Valor 1</h4>
        <p class="text-gray-600 text-sm">Lorem ipsum dolor sit amet consectetur. Lacus pulvinar pharetra senectus sociis.</p>
      </div>
      <div class="flex flex-col items-center text-center">
        <div class="w-20 h-20 flex items-center justify-center rounded-full bg-[#EAEAEA] mb-4">
          <img src="/assets/valor3.svg" alt="Valor 3" class="w-10 h-10" />
        </div>
        <h4 class="text-[#06214E] font-bold mb-2">Valor 1</h4>
        <p class="text-gray-600 text-sm">Lorem ipsum dolor sit amet consectetur. Lacus pulvinar pharetra senectus sociis.</p>
      </div>
      <div class="flex flex-col items-center text-center">
        <div class="w-20 h-20 flex items-center justify-center rounded-full bg-[#EAEAEA] mb-4">
          <img src="/assets/valor4.svg" alt="Valor 4" class="w-10 h-10" />
        </div>
        <h4 class="text-[#06214E] font-bold mb-2">Valor 1</h4>
        <p class="text-gray-600 text-sm">Lorem ipsum dolor sit amet consectetur. Lacus pulvinar pharetra senectus sociis.</p>
      </div>
    </div>
  </div>
</section> 